<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> LOGIN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fazer Login:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item fill="solid">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" ngModel email></ion-input>
        <ion-note slot="helper">Insira um e-mail válido</ion-note>
        <ion-note slot="error">E-mail inválido</ion-note>
      </ion-item>

      <ion-item fill="solid">
        <ion-label position="floating">Senha</ion-label>
        <ion-input></ion-input>
        <ion-note slot="helper">Digite sua senha</ion-note>
      </ion-item>
    </ion-card-content>

    <ion-button class="buts" id="entrar" color="success">Entrar</ion-button>
    <ion-button routerLink="/cadastro" class="buts" id="cadastrar" color="danger">Cadastrar</ion-button>
  </ion-card>
</ion-content>
